@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);

/*#creer {z-index: 100;}

:target {
	z-index: 150;
}

.body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #ecf0f1;
}*/

html,body {
	margin: 0 auto;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: #6d6e70;
	background: #ecf0f1; 	
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}

/*
		NORMALIZE
*/

.section {
	position: relative;
	top: 86px;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 86px);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button, input {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

a {
	color: #3498db;
	text-decoration: none;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

/*
		NO LIST
*/

.nolist {
	display: block;
	position: relative;
	top: 40%;
	text-align: center;
	/*opacity: .5;*/
}

.nolist--h1 {
	font-size: 18px;
	font-weight: 300;
}

.nolist--btn {
	display: inline-block;
	padding: 6px 2px;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	color: #3498db;
	border-bottom: 1px solid #3498db;
}

/*
		TOOLBAR
*/

.toolbar {
	z-index: 150;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
	width: 100%;
	height:56px;
	line-height: 56px;
	background: #3498db;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.toolbar:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 20px;
	background: #2980b9;
}

.toolbar--h1 {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

/*
		PICTO
*/

.btn {
	cursor: pointer;
}

.btn--picto {
	position: absolute;
	top: 37px;
	width: 22px;
	height: 22px;
}

.btn--picto__return {
	position: absolute;
	top: 18px;
	left: 10px;
	width: 40px;
	height: 40px;
	line-height: 60px;
	text-indent: -9999px;
}

.btn--picto__return:before,
.btn--picto__return:after {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	left: 12px;
	width: 12px;
	height: 2px;
	background: #fff;
	-webkit-transform-origin: left center;
}

.btn--picto__return:before {-webkit-transform: rotate(45deg);}
.btn--picto__return:after {-webkit-transform: rotate(-45deg);}

.btn--picto__trash {
	right: 20px;
	background-image: url(icons/trash_white.png);	
}

.btn--picto__plus {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 40px;
	height: 40px;
	line-height: 60px;
	text-indent: -9999px;
}

.btn--picto__plus:before,
.btn--picto__plus:after {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	left: 14px;
	width: 14px;
	height: 2px;
	background: #fff;
}

.btn--picto__plus:after {-webkit-transform: rotate(90deg);}

.btn--picto__valid {
	right: 20px;
	background-image: url(icons/check_white.png);
}

.btn--picto__save {
	right: 20px;
	background-image: url(icons/save_white.png);
}

.btn--picto__edit {
	top: 19px;
	right:20px;
	background-image: url(icons/edit.png);
}

/*   CLASS PERSO  */ 

.caddie {
	background: url(icons/caddie.png);
	margin: auto;
	width: 100px;
	height: 94px;
	margin-top: 50px;
	margin-bottom: 50px;	
}

.btn--cta {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	/*background: #2980b9;*/
	background: #27ae60;
	text-align: center;
}

/*
		PLAN
*/

.plan{
	width: 100%;
	height: 100vh;
	background: #ecf0f1;
}

.section__banner {
	position: fixed;
	bottom: 0;
	padding: 0 40px;
	width: calc(100% - 80px);
	height: 80px;
	background: #fff;
	box-shadow: 0px 0px 3px #979797;
}

.banner {
	position: absolute;
	line-height: 1.4;
}

.banner--btn {
	display: block;
	position: absolute;
	top: -30px;
	right: 45px;
	width: 60px;
	height: 60px;
	background: url(icons/check.png) #27ae60 50% 50% no-repeat;
	border-radius: 50%;
	box-shadow: 0px 2px 9px #666;
}

.banner--h1 {
	top: 15px;
	font-size: 20px;
	font-weight: 400;
}

.banner--small {
	top: 40px;
	font-size: 14px;
	font-weight: 300;
	opacity: .5;
}

/*
		LIST
*/

.list__magasin {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.list__article {
	position: absolute;
	top: 60px;
	width: 100%;
}

.list--title {
	position: relative;
	margin: 4px 0;
	padding: 0 20px;
	width: calc(100% - 40px);
	height: 60px;
	line-height: 60px;
	background: #fff;
	font-size: 18px;
	border-top: 1px solid #bdc3c7;
	border-bottom: 1px solid #bdc3c7;
}

.list--element {
	position: relative;
	/*margin: 1px 0;*/
	padding: 0 20px;
	width: calc(100% - 40px);
	height: 60px;
	line-height: 60px;
	background: #fff;
	font-size: 16px;
	border-bottom: 1px solid #bdc3c7;
	border-top: none;
}

.list--element:first-child {
	border-top: 1px solid #bdc3c7;
}

.list--element__article {
	padding-left: 80px;
	/*margin-left: 20px;*/
	width: calc(100% - 100px); /*padding liste--element + padding & margin list--element__article*/
}

.list--small {
	position: absolute;
	right: 20px;
}

.list--small__delete {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	line-height: 60px;
	text-indent: -9999px;
}

.list--small__delete:before,
.list--small__delete:after {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	right: 10px;
	width: 20px;
	height: 1px;
	background: #bdc3c7;
}

.list--small__delete:before {-webkit-transform: rotate(45deg);}
.list--small__delete:after {-webkit-transform: rotate(-45deg);}

/*
		INPUT
*/

.input {
	display: block;
	position: fixed;
	top: 66px;
	left: 0;
	padding: 0 20px;
	width: calc(100% - 40px);
	height: 60px;
	font-size: 16px;
	background: #fff;
	border-bottom: 1px solid #bdc3c7;
}

.input__add {background: url(icons/plus.png) #fff calc(100% - 20px) 50% no-repeat;}
.input__search {background: url(icons/search.png) #fff calc(100% - 20px) 50% no-repeat;}

/*
		SPECIAL
*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #3498db;
    opacity: 1;
}

::selection {
	/*color: #fff;
	background: #2980b9;*/
	background: transparent;
}

:focus {
	outline: none;
}



